{% extends 'base.html.twig' %}

{% block content %}
    <h1>Tworzenie wypożyczenia</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Dodaj" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('rental_index') }}">Powróć do listy</a>
        </li>
    </ul>
{% endblock %}
