{% extends "::base.html.twig" %}

{#CONTENT#}
{% block content %}
<div id="content">
    <span class="bigtitle">Witamy na stronie naszej biblioteki!</span>
    <div class="dottedline"></div>

    Lorem ipsum
</div>
{% endblock %}

{% block title %}Strona główna{% endblock %}