{% extends "::base.html.twig" %}

{#CONTENT#}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="">Witamy na stronie naszej biblioteki!</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-justify">
        <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit.&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit.&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit.&nbsp;Lorem ipsum dolor sit amet, consectetur
            adipiscing elit.&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit.&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit.&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit.&nbsp;Lorem ipsum dolor sit amet,
            consectetur adipiscing elit.&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit.&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit.&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
</div>
{% endblock %}

{% block title %}Strona główna{% endblock %}