{% extends '::base.html.twig' %}

{#CONTENT#}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="">Lista książek</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-justify">
            <p class="">Tutaj będzie lista książek.</p>
        </div>
    </div>
{% endblock %}

{% block title %}Książki{% endblock %}