{% extends '::base.html.twig' %}

{#CONTENT#}
{% block content %}
    <div id="content">
        {#TUTAJ TREŚC#}
        <h1>Lista książek</h1>
    </div>
{% endblock %}

{% block title %}Książki{% endblock %}