{% extends '::base.html.twig' %}

{#CONTENT#}
{% block content %}
    <div id="content">
        {#TUTAJ TREŚC#}
        <h1>Panel użytkownika</h1>
    </div>
{% endblock %}

{% block title %}Panel użytkownika{% endblock %}